
* {
  background-color: transparent;
  color: #cc0099;
  text-shadow: 0px 0px 10px #cc0099;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  padding: 5px;
  font-weight: 100;
}

html, body {
  border: none;
  padding: 0px;
}

body {
  background-color: #00ffaa;
  transition: 55s;
}

#interviewA {
  border: 1px solid red;
}

#main {
  text-align: right;
  background-color: #000000;
  width: 292px;
  margin: auto;
}

.tealB {
  border: 1px solid #00ffaa;
  box-shadow: 0px 0px 3px #00ffaa;
}

.settingsInput {
  text-align: right;
  width: 120px;
  margin-left: 10px;
}

#btn {
  width: 132px;
}

#demo {
  padding: 0px;
  border: none;
  font-family: monospace;
  font-size: 15px;
}

.clockTable {
  display: table;
  width: 304px;
  padding: 0;
  margin: auto;
}

.clockRow {
  display: table-row;
}

.clockCell {
  display: table-cell;
  background-color: transparent;
  transition: .7s;
  padding: 3px;
}

#alarm {
  width: 0;
  height: 0;
}

#milRaw {
  position: fixed;
  text-align: right;
  bottom: 1px;
  right: 1px;
  color: #000000;
  text-shadow: none;
  font-family: monospace;
  font-size: 8px;
}

